@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
:root {
  --nav-font: 'Roboto', sans-serif;
  --title1: 'Rochester', cursive;
  --bg-color: #3586ff;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(/images/homebg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: var(--nav-font);
  height: 100px;
  /*background-color: var(--bg-color);*/
  background-color: rgba(34, 4, 93, 0.516);
  padding: 0 5%;
}
.nav_logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: white;
}
.nav_list {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_items {
  list-style: none;
}
.nav_links {
  text-decoration: none;
  padding: 1em;
  color: white;
  display: block;
  font-size: 16px;
  font-weight: bold;
  position: relative;
}
.nav_links::after {
  content: ''; /* Add content to the pseudo-element */
  display: block; /* Make the pseudo-element a block element */
  width: 0; /* Set width to 0 */
  height: 2px; /* Set height of the underline */
  background-color: white; /* Set the color of the underline */
  position: absolute; /* Position the pseudo-element absolutely */
  bottom: -1px; /* Position the pseudo-element at the bottom of the link */
  left: 0; /* Position the pseudo-element at the left of the link */
  transition: width 0.3s ease; /* Add transition to the width property */
}
.nav_links:hover::after {
  width: 100%;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
.icon_burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.icon_burger .line {
  width: 30px;
  height: 5px;
  margin: 5px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .nav_logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  .nav_list {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    background: rgba(0, 0, 0, 0.74);
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  .nav_links {
    font-size: 20px;
  }
  .icon_burger {
    display: block;
  }
  .navbar :checked ~ .nav_list {
    bottom: 70px;
  }
  .navbar :checked ~ .icon_burger .line:nth-child(1) {
    transform: translateY(10px) rotate(245deg);
  }
  .navbar :checked ~ .icon_burger .line:nth-child(2) {
    opacity: 0;
  }
  .navbar :checked ~ .icon_burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-245deg);
  }
  .section_title .title h1 {
    font-size: 60px;
  }
  .section_title .title h2 {
    font-size: 80px;
    top: -43px;
  }
}

/*main section*/
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_title {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}

.title h1 {
  color: white;
  font-size: 100px;
  font-weight: 500;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}
.title h2 {
  color: white;
  font-size: 80px;
  font-weight: 500;
  margin: 0;
  font-family: var(--title1);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -51px;
  position: relative;
  text-shadow: 2px 2px 8px black;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(/images/wave.png);
  background-size: 1000px 100px;
}

.wave1 {
  animation-name: animate;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0;
  bottom: 0;
}
.wave2 {
  animation-name: animate2;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.wave3 {
  animation-name: animate;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.wave4 {
  animation-name: animate2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -2s;
  bottom: 20px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position: -1000px;
  }
}
